@model Season

@{
    ViewData["Title"] = Model.SeasonName.Split(":").Last();
    Layout = "../AdminPanel/_AdminPanelLayout";
}

<div class="row movie-details justify-content-center">
@*    <div class="col-md-4">
        <img src="/images/series/@Model.Poster" alt="@Model.SeriesName" class="img-thumbnail h-100" />
    </div>*@
    <div class="col-md-7">
        <div class="d-flex justify-content-between">
            <h3>@Model.SeasonName</h3>
@*            <span class="fs-5">
                <i class="bi bi-star-fill text-warning"></i>
                <span class="text-light">  @string.Format("{0:0.0}", Model.Rate)</span>
            </span>*@
        </div>
        <span class="fs-5">
            <i class="bi bi-calendar2-range"></i>
            <span class="fw-semibold">Realease Date: @Model.ReleaseDate.Year</span>
        </span>
        <h4>
            <i class="bi bi-film"></i>
            Genries
        </h4>
@*        <div class="genrie-container">
            @foreach (var item in Model.Genries)
            {
                <p>@item.GenrieName</p>
            }
        </div>*@
        <h4>Cast</h4>
@*        <div class="genrie-container">
            @foreach (var item in Model.Actors)
            {
                <p>@item.ActorName</p>
            }
            <p><span class="fw-bold">Director: </span>@Model.Director</p>
        </div>*@
        <div class="my-3">
            Number of Episodes:
            <span>@Model.Episodes.Count</span>
        </div>
@*        <div>
            Views:
            <i class="bi bi-eye-fill text-info"></i>
            <span>@String.Format("{0:N0}", Model.Views)</span>
        </div>*@


    </div>

</div>
<div class="my-5 py-3">
    <a asp-action="Index" asp-route-id="@Model.SeriesID">
        <button class="btn btn-outline-warning py-2 px-3 my-2"><i class="bi bi-arrow-left-circle mx-1"></i> Back To Seasons</button>
    </a>

</div>