@model PlayEpisodeViewModel
@{
    ViewData["Title"] = $"{Model.PlayedEpisode.Season.Series.SeriesName} Episode {Model.PlayedEpisode.EpNum}{Model.PlayedEpisode.EpName}";
}

@section Css{
    <link href="~/css/videostyle.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="vidoplayer show-controls">
        <i class="bi bi-play-circle-fill" id="play"></i>
        <div class="videoControll" id="controls">
            <div class="video-timeline">
                <div class="progress-area">
                    <span>00:00</span>
                    <div class="progress-bar"></div>
                </div>
            </div>
            <div class="video-timer">
                <p class="current-time">00:00</p>
                <p class="end-time">00:00</p>
            </div>
            <ul class="video-controles">
                <li class="options left">
                    <i class="bi bi-play-fill" id="Play-Puse"></i>
                    <i class="bi bi-skip-backward-circle" id="back-10"></i>
                    <i class="bi bi-volume-up-fill" id="volume"></i>
                    <input type="range" min="0" max="1" step="0.1">
                    <i class="bi bi-skip-forward-circle" id="skip-10"></i>
                </li>
                <li class="options center">

                    @if (Model.PreviousEposide >  0)
                    {
                        <button class="btn">
                        <a  asp-action="PlayEposide" asp-route-id="@ViewBag.ProfileID"
                               asp-route-eid="@(Model.PreviousEposide)" class=" text-light">
                            <i class="bi bi-skip-start-fill" id="skip-end"></i>
                        </a>                        
                        </button>
                    }else{

                        <button disabled class="btn m-0">

                            <i  class="bi bi-skip-start-fill" id="skip-end" disabled></i>
                        </button>
                    }
                    @if (Model.NextEpisode > 0)
                    {
                        <button class="btn text-warning">
                        <a asp-action="PlayEposide" asp-route-id="@ViewBag.ProfileID"
                               asp-route-eid="@(Model.NextEpisode)" class=" text-light">
                            <i class="bi bi-skip-end-fill" id="skip-end"></i>
                        </a>
                        </button>
                    }
                    else
                    {
                        <button disabled class="btn m-0">

                            <i class="bi bi-skip-end-fill" id="skip-start" disabled></i>
                        </button>
                    }

                </li>
                <li class="options right">
                    <i class="bi bi-badge-cc" id="subtitle"></i>
                    <div class="playback">
                        <i class="bi bi-gear-fill" id="settings">
                        </i>
                        <ul class="speed-options hide">
                            <li data-speed="2">2x</li>
                            <li data-speed="1.5">1.5x</li>
                            <li data-speed="1" class="active">Normal</li>
                            <li data-speed="0.75">0.75x</li>
                            <li data-speed="0.5">0.5x</li>
                        </ul>

                    </div>
                    <i class="bi bi-card-list" id="similar"></i>
                    <i class="bi bi-arrows-angle-expand" id="fullscreen"></i>
                </li>
            </ul>
        </div>
        <div class="similarMovies" id="similaritems">
            <div class="mb-5 pb-5">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Season @(Model.AllSeasons.IndexOf(@Model.PlayedEpisode.Season) + 1): @Model.PlayedEpisode.Season.SeasonName.Split(":").Last()
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
@*                                @foreach (var episode in Model.Episodes)
                                {
                                    <div class="row similar-container @((episode.EpisodeID == Model.PlayedEpisode.EpisodeID)?"played":"")">
                                        <div class="col-md-7 season-poster" style="background-image: url(/images/series/@Model.PlayedEpisode.Season.Series.Poster)" loading="lazy">
                                            <a asp-action="PlayEpisode" asp-route-id="@ViewBag.profileID" asp-route-eid="@episode.EpisodeID">
                                                <i class="bi bi-play-circle play-icon"></i>
                                            </a>
                                        </div>
                                        <p class="col-md-5">Episode @(episode.EpNum): @episode.EpName</p>
                                    </div>
                                }*@
                                @foreach (var episode in Model.Episodes)
                                {
                                    <a asp-action="PlayEposide" asp-route-id="@ViewBag.ProfileID"
                                       asp-route-eid="@episode.EpisodeID" class=" text-light">
                                        <div class="row align-items-center mb-4 @((episode.EpisodeID == Model.PlayedEpisode.EpisodeID)?"played":"")" >
                                            <div class="col-7 text-start"> Episode @(episode.EpNum): @episode.EpName</div>
                                            <div class="col-4 progress-container">
                                                @if (Model.EpisodesHistory != null)
                                                {
                                                    var episodehistory = Model.EpisodesHistory.FirstOrDefault(e => e.EpisodeID == episode.EpisodeID);
                                                    int progressValue = episodehistory?.ProgressMinutes ?? 0;
                                                    <span class="progress" data-prog="@progressValue"></span>
                                                }
                                                else
                                                {
                                                    <span class="progress" data-prog="0"></span>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                    @foreach (var item in Model.RestSeasons)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(Model.AllSeasons.IndexOf(item) + 1)" aria-expanded="false" aria-controls="flush-collapse@(Model.AllSeasons.IndexOf(item) + 1)">
                                    Season @(Model.AllSeasons.IndexOf(item) + 1): @item.SeasonName.Split(":").Last()
                                </button>
                            </h2>
                            <div id="flush-collapse@(Model.AllSeasons.IndexOf(item) + 1)" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
@*                                    @foreach (var episode in item.Episodes)
                                    {
                                        <div class="row similar-container">
                                            <div class="col-md-7 season-poster" style="background-image: url(/images/series/@Model.PlayedEpisode.Season.Series.Poster)" loading="lazy">
                                                <a asp-action="PlayEpisode" asp-route-id="@ViewBag.profileID" asp-route-eid="@episode.EpisodeID">
                                                    <i class="bi bi-play-circle play-icon"></i>
                                                </a>
                                            </div>
                                            <p class="col-md-5">Episode @(episode.EpNum): @episode.EpName</p>
                                        </div>
                                    }*@
                                    
                                    @foreach (var episode in item.Episodes)
                                    {
                                        <a asp-action="PlayEposide" asp-route-id="@ViewBag.ProfileID"
                                           asp-route-eid="@episode.EpisodeID" class=" text-light">
                                            <div class="row align-items-center mb-4">
                                                <div class="col-7 text-start"> Episode @(episode.EpNum): @episode.EpName</div>
                                                <div class="col-4 progress-container">
                                                    @if (Model.EpisodesHistory != null)
                                                    {
                                                        var episodehistory = Model.EpisodesHistory.FirstOrDefault(e => e.EpisodeID == episode.EpisodeID);
                                                        int progressValue = episodehistory?.ProgressMinutes ?? 0;
                                                        <span class="progress" data-prog="@progressValue"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="progress" data-prog="0"></span>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
        <div class="displayed-data">
            <h4 class="text-warning">MovieApp</h4>
            <p>@(Model.PlayedEpisode.Season.SeasonName) Eposide @(Model.PlayedEpisode.EpNum): @Model.PlayedEpisode.EpName</p>
        </div>
        <video id="video" src="@Model.PlayedEpisode.link" type="video/mp4">
        </video>
        <div id="waiting">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
</div>

@if (!ViewBag.exist)
{
    <div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light w-50 mx-auto">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ratingModalLabel">@Model.PlayedEpisode.Season.Series.SeriesName</h1>
                    <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Rate This TvShow</h5>
                    <span class="text-warning text-center d-block">
                        <i class="bi bi-star fs-5 rating-icon" data-value="2"></i>
                        <i class="bi bi-star fs-5 rating-icon" data-value="4"></i>
                        <i class="bi bi-star fs-5 rating-icon" data-value="6"></i>
                        <i class="bi bi-star fs-5 rating-icon" data-value="8"></i>
                        <i class="bi bi-star fs-5 rating-icon" data-value="10"></i>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Later</button>
                    <button type="button" class="btn btn-primary" id="sendrate">Send</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        let type ="s";
        var profileID = @ViewBag.profileID;
        var playMovieUrl = '@Url.Action("PlayMovie", "Main")';
        var playSeriesUrl = '@Url.Action("DisplaySeries", "Main")';
        let showid = @Model.SeriesID;
        let ratingValue =0;
        let eid = @Model.PlayedEpisode.EpisodeID;
        let method = 'SetSeriesRate';
        let exist = '@ViewBag.exist';
        let progress;


        @if (ViewBag.prog != null)
        {
            <text>progress = @(ViewBag.prog); </text>
        }
        
        

        function sendProgress(id,seriesid, episodeid, prog) {
            $.ajax({
                type: 'POST',
                url: '/Main/EpisodeProgress',
                data: {
                    id: id,
                    sid:seriesid,
                    eid: episodeid,
                    prog: prog
                },
                success: function (response) {
                },
                error: function (error) {
                    console.error('Error sending progress:', error);
                }
            });

        }

        function sendVideoProgress() {
            const currentTime = video.currentTime;
            const Duration = video.duration;
            if (!isNaN(Duration) && Duration > 0) {
                const progress = Math.floor((currentTime / Duration) * 100);
                if (!video.paused) {
                    sendProgress(profileID, showid, eid, progress);
                }
            }
        }
        setInterval(sendVideoProgress, 3000);
        video.addEventListener('ended', function () {
            sendProgress(profileID, showid, eid, 100);
        });
    </script>
    <script src="~/js/rateandprogress.js"></script>
    <script src="~/js/searchbyname.js"></script>
    <script src="~/js/videoplayerscript.js"></script>
}