@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminPanelLayout";
}

<div class="tab-pane active" id="overviews">
    <!-- Content Row -->

    <div class="row mt-5">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Movie & Series Overview</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Full Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Movies
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Series
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Users
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of Char row -->
</div>

@section Scripts {
    <script>
        sessionStorage.setItem("TotalUserCount", @ViewBag.TotalUserCount);
        sessionStorage.setItem("TotalMoviesCount", @ViewBag.TotalMoviesCount);
        sessionStorage.setItem("TotalSeriesCount", @ViewBag.TotalSeriesCount);
        sessionStorage.setItem("TotalObject", @Html.Raw(JsonConvert.SerializeObject(ViewBag.TotalObject)));
        sessionStorage.setItem("paymentObject", @Html.Raw(JsonConvert.SerializeObject(ViewBag.paymentObject)));
    </script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/js/areas/chartarea.js"></script>
    <script src="~/js/areas/piearea.js"></script>
    <script src="~/js/areas/bararea.js"></script>
}